{% extends "users/layout.html" %}

{% block body %}

<h1> Welcome, {{ request.user.first_name}} </h1>

<ul>
    <li>Username: {{request.user.username}}</li>
    <li>Email: {{request.user.email}}</li>
    <br>
    <div class="flight_redr">
        <button onclick="redirectToFlightRedr()">See all flights</button>
    </div>
    

<div class="logout">
    <button onclick="logout()">Logout </button>

</div>


<script>
    function redirectToFlightRedr() {
        window.location.href = "{% url 'flight_redr' %}";
        }

    function logout() {
        window.location.href = "{% url 'logout' %}";
    }
    </script>

{% endblock %}